# folders
a_output*
b_output*
c_output*
d_input_data*
input_data
Jakar*

# virtual env/bash scripts
*submit.sh
jakar-venv*
venv
.vscode
__py*

# png
*.png

#executables
*.c
runner.py
setup.py
spectrum.py
test.py

# data files
*.json
c_field_lines.txt
margo*/
arepo*/
*.npy